*.out
notebook/kaggle/data/*
*.gz
notebook/cs231n/*/cs231n/datasets/
notebook/cs231n/*/cs231n/__pycache__/*
*.pyc
*.zip
jff/torch/data/
*.bin
*.codegen
*.s
tmp/*

build/
.vscode/
# for digital output
netlist/
icarus/
*.xml